DEV_TRAINER_PIN=2005
JWT_SECRET=Rossi Bear is my favourite
ALLOWED_ORIGIN=http://localhost:5173
# GEMINI_API_KEY=
# ELEVENLABS_API_KEY=
# ELEVENLABS_VOICE_ID=
# OPENWEATHER_API_KEY=
# TRAINER_PIN_HASH=
